{
  "openapi": "3.0.0",
  "info": {
    "title": "Stripe Service API",
    "description": "Thin Stripe wrapper service. Mirrors a subset of the Stripe API surface (customers, checkout sessions, payment intents, billing portal) with local DB-backed caching driven by webhooks + a 5-minute reconciliation poll.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://stripe.distribute.you",
      "description": "Production"
    },
    {
      "url": "http://localhost:3011",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check"
    },
    {
      "name": "Customers",
      "description": "Stripe Customer mirror"
    },
    {
      "name": "Checkout",
      "description": "Stripe Checkout Session mirror"
    },
    {
      "name": "PaymentIntents",
      "description": "Stripe PaymentIntent mirror"
    },
    {
      "name": "BillingPortal",
      "description": "Stripe Billing Portal sessions"
    },
    {
      "name": "Webhooks",
      "description": "Stripe webhook ingestion"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Service-to-service API key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "service": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "StripeObject": {
        "type": "object",
        "additionalProperties": {
          "nullable": true
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "nullable": true
          }
        },
        "required": [
          "error"
        ]
      },
      "CreateCustomerRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "address": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "shipping": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "payment_method": {
            "type": "string"
          },
          "invoice_settings": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "additionalProperties": {
          "nullable": true
        }
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "address": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "shipping": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "invoice_settings": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "additionalProperties": {
          "nullable": true
        }
      },
      "StripeList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StripeObject"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "url"
        ]
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "payment",
              "subscription",
              "setup"
            ]
          },
          "line_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "type": "string"
                },
                "price_data": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "adjustable_quantity": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "additionalProperties": {
                "nullable": true
              }
            },
            "minItems": 1
          },
          "success_url": {
            "type": "string",
            "format": "uri"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri"
          },
          "customer": {
            "type": "string"
          },
          "customer_email": {
            "type": "string",
            "format": "email"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "payment_intent_data": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "payment_method_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subscription_data": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "discounts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "nullable": true
              }
            }
          },
          "expires_at": {
            "type": "integer"
          }
        },
        "required": [
          "mode",
          "line_items",
          "success_url"
        ],
        "additionalProperties": {
          "nullable": true
        }
      },
      "CreatePaymentIntentRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "currency": {
            "type": "string",
            "minLength": 3
          },
          "customer": {
            "type": "string"
          },
          "payment_method": {
            "type": "string"
          },
          "payment_method_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "automatic_payment_methods": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "confirm": {
            "type": "boolean"
          },
          "off_session": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "setup_future_usage": {
            "type": "string"
          },
          "capture_method": {
            "type": "string"
          },
          "receipt_email": {
            "type": "string",
            "format": "email"
          },
          "statement_descriptor": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "additionalProperties": {
          "nullable": true
        }
      },
      "PublicStatsBillingResponse": {
        "type": "object",
        "properties": {
          "total_paid_cents": {
            "type": "string"
          },
          "accounts_with_payment_method": {
            "type": "integer",
            "minimum": 0
          },
          "monthly_growth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicStatsBucket"
            }
          },
          "weekly_growth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicStatsBucket"
            }
          }
        },
        "required": [
          "total_paid_cents",
          "accounts_with_payment_method",
          "monthly_growth",
          "weekly_growth"
        ]
      },
      "PublicStatsBucket": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "description": "ISO date (YYYY-MM-DD) at start of bucket"
          },
          "paid_cents": {
            "type": "string"
          }
        },
        "required": [
          "period",
          "paid_cents"
        ]
      },
      "CreateBillingPortalSessionRequest": {
        "type": "object",
        "properties": {
          "customer": {
            "type": "string"
          },
          "return_url": {
            "type": "string",
            "format": "uri"
          },
          "configuration": {
            "type": "string"
          },
          "flow_data": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "customer"
        ],
        "additionalProperties": {
          "nullable": true
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers": {
      "post": {
        "summary": "Create a Stripe customer",
        "description": "Thin Stripe wrapper. Body forwarded to Stripe verbatim. Response is the Stripe Customer object.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Stripe customers (DB-backed mirror)",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": false,
            "name": "email",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              },
              "description": "Filter by Stripe customer metadata. Use repeated query params: metadata[key]=value. AND'd across keys."
            },
            "required": false,
            "description": "Filter by Stripe customer metadata. Use repeated query params: metadata[key]=value. AND'd across keys.",
            "name": "metadata",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{id}": {
      "get": {
        "summary": "Retrieve a Stripe customer",
        "description": "Returns the cached row if present, falls back to Stripe and upserts otherwise.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update a Stripe customer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/sessions": {
      "post": {
        "summary": "Create a Checkout Session",
        "tags": [
          "Checkout"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Checkout Sessions (DB-backed mirror)",
        "tags": [
          "Checkout"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "customer",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "payment_intent",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Session list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/sessions/{id}": {
      "get": {
        "summary": "Retrieve a Checkout Session",
        "tags": [
          "Checkout"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment_intents": {
      "post": {
        "summary": "Create a PaymentIntent",
        "tags": [
          "PaymentIntents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentIntentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PaymentIntent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List PaymentIntents (DB-backed mirror)",
        "description": "Returns DB-cached PaymentIntents. Status is webhook-updated. Callers use this to inspect in-flight reloads per customer before triggering new payments.",
        "tags": [
          "PaymentIntents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "customer",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentIntent list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment_intents/{id}": {
      "get": {
        "summary": "Retrieve a PaymentIntent",
        "tags": [
          "PaymentIntents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentIntent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/stats/billing": {
      "get": {
        "summary": "Public aggregate billing stats (no auth, cross-org)",
        "description": "Aggregate Stripe-side payment stats across all orgs. Public endpoint — no X-API-Key, no identity headers.",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Aggregate stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStatsBillingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing_portal/sessions": {
      "post": {
        "summary": "Create a Billing Portal Session",
        "tags": [
          "BillingPortal"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillingPortalSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "post": {
        "summary": "Stripe webhook handler",
        "description": "Verifies signature, persists event, upserts target object. No auth — uses Stripe signature only.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}