{
  "openapi": "3.0.0",
  "info": {
    "title": "Stripe Service API",
    "description": "Thin Stripe wrapper service. Mirrors a subset of the Stripe API surface (customers, checkout sessions, payment intents, billing portal) with local DB-backed caching driven by webhooks + a 5-minute reconciliation poll.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://stripe.distribute.you",
      "description": "Production"
    },
    {
      "url": "http://localhost:3011",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check"
    },
    {
      "name": "Customers",
      "description": "Stripe Customer mirror"
    },
    {
      "name": "Checkout",
      "description": "Stripe Checkout Session mirror"
    },
    {
      "name": "PaymentIntents",
      "description": "Stripe PaymentIntent mirror"
    },
    {
      "name": "PaymentMethods",
      "description": "Stripe PaymentMethod live passthrough"
    },
    {
      "name": "BillingPortal",
      "description": "Stripe Billing Portal sessions"
    },
    {
      "name": "Webhooks",
      "description": "Stripe webhook ingestion"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Service-to-service API key"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "service": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "StripeObject": {
        "type": "object",
        "additionalProperties": {
          "nullable": true
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          },
          "details": {
            "nullable": true
          }
        },
        "required": [
          "error"
        ]
      },
      "CreateCustomerRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "address": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "shipping": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "payment_method": {
            "type": "string"
          },
          "invoice_settings": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "additionalProperties": {
          "nullable": true
        }
      },
      "UpdateCustomerRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "address": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "shipping": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "invoice_settings": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "additionalProperties": {
          "nullable": true
        }
      },
      "StripeList": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StripeObject"
            }
          },
          "has_more": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "object",
          "data",
          "has_more",
          "url"
        ]
      },
      "DeleteCustomersByOrgResponse": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "number",
            "description": "Number of Stripe customers deleted for the org"
          },
          "customer_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of the deleted Stripe customers"
          }
        },
        "required": [
          "deleted",
          "customer_ids"
        ]
      },
      "OrgPaymentSummary": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "payment_summary"
            ]
          },
          "org_id": {
            "type": "string"
          },
          "customer": {
            "type": "string",
            "nullable": true,
            "description": "The org's mirrored Stripe customer id, or null when it has none."
          },
          "totals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CurrencyTotals"
            },
            "description": "One entry per currency with activity. Empty when the org has no mirrored payments — never a fabricated zero row."
          }
        },
        "required": [
          "object",
          "org_id",
          "customer",
          "totals"
        ]
      },
      "CurrencyTotals": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Stripe currency code, e.g. 'usd'."
          },
          "amount_received": {
            "type": "integer",
            "description": "Gross paid in, minor units: SUM(amount_received) over the org's `succeeded` PaymentIntents."
          },
          "amount_refunded": {
            "type": "integer",
            "description": "Minor units returned via Refunds in status `succeeded`. A refund that later fails or is canceled stops counting."
          },
          "amount_disputed_lost": {
            "type": "integer",
            "description": "Minor units lost to Disputes in status `lost`. Open and won disputes are not counted."
          },
          "amount_returned": {
            "type": "integer",
            "description": "amount_refunded + amount_disputed_lost — total money given back."
          },
          "amount_net": {
            "type": "integer",
            "description": "amount_received − amount_returned — money we actually still hold."
          }
        },
        "required": [
          "currency",
          "amount_received",
          "amount_refunded",
          "amount_disputed_lost",
          "amount_returned",
          "amount_net"
        ]
      },
      "CreateInvoiceByOrgRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Amount to charge, in the currency's smallest unit (e.g. cents)"
          },
          "currency": {
            "type": "string",
            "minLength": 3,
            "description": "3-letter ISO currency code (e.g. 'usd')"
          },
          "description": {
            "type": "string",
            "minLength": 1,
            "description": "Human-readable description — used for the invoice, its line item, AND the resulting PaymentIntent (which Stripe would otherwise label with its generic 'Payment for Invoice' fallback)."
          },
          "payment_method": {
            "type": "string",
            "description": "Explicit PaymentMethod (pm_…) to charge off-session. Omit to use the customer's default PM. Prefer an explicit card PM — the customer default may be a Link / wallet PM that Stripe refuses to charge off_session."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Caller provenance (e.g. {\"type\":\"auto_reload\"} / {\"reason\":\"month_end_sweep\"}). Stamped on the invoice AND on the resulting PaymentIntent, so a consumer summing payments can tell why the charge happened."
          }
        },
        "required": [
          "amount",
          "currency",
          "description"
        ],
        "additionalProperties": {
          "nullable": true
        }
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "payment",
              "subscription",
              "setup"
            ]
          },
          "line_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "type": "string"
                },
                "price_data": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                },
                "quantity": {
                  "type": "integer",
                  "minimum": 0,
                  "exclusiveMinimum": true
                },
                "adjustable_quantity": {
                  "type": "object",
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              },
              "additionalProperties": {
                "nullable": true
              }
            },
            "minItems": 1
          },
          "ui_mode": {
            "type": "string",
            "enum": [
              "hosted",
              "embedded"
            ]
          },
          "redirect_on_completion": {
            "type": "string",
            "enum": [
              "always",
              "if_required",
              "never"
            ]
          },
          "success_url": {
            "type": "string",
            "format": "uri"
          },
          "cancel_url": {
            "type": "string",
            "format": "uri"
          },
          "customer": {
            "type": "string"
          },
          "customer_email": {
            "type": "string",
            "format": "email"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "payment_intent_data": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "payment_method_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subscription_data": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "discounts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "nullable": true
              }
            }
          },
          "expires_at": {
            "type": "integer"
          }
        },
        "required": [
          "mode"
        ],
        "additionalProperties": {
          "nullable": true
        }
      },
      "CreatePaymentIntentRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "currency": {
            "type": "string",
            "minLength": 3
          },
          "customer": {
            "type": "string"
          },
          "payment_method": {
            "type": "string"
          },
          "payment_method_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "automatic_payment_methods": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "confirm": {
            "type": "boolean"
          },
          "off_session": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "setup_future_usage": {
            "type": "string"
          },
          "capture_method": {
            "type": "string"
          },
          "receipt_email": {
            "type": "string",
            "format": "email"
          },
          "statement_descriptor": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "additionalProperties": {
          "nullable": true
        }
      },
      "PublicStatsBillingResponse": {
        "type": "object",
        "properties": {
          "total_paid_cents": {
            "type": "string",
            "description": "GROSS paid in across all orgs, minor units: SUM(amount_received) over `succeeded` PaymentIntents. Unchanged meaning — report this as revenue."
          },
          "total_refunded_cents": {
            "type": "string",
            "description": "Minor units returned via Refunds in status `succeeded`, across all orgs."
          },
          "total_disputed_lost_cents": {
            "type": "string",
            "description": "Minor units lost to Disputes in status `lost`, across all orgs."
          },
          "total_returned_cents": {
            "type": "string",
            "description": "total_refunded_cents + total_disputed_lost_cents — total money given back."
          },
          "total_net_cents": {
            "type": "string",
            "description": "total_paid_cents − total_returned_cents — report this as credited. Equals the sum of every org's `amount_net` from GET /internal/payment_summary/by-org/{orgId}: both count only settled Refunds and LOST Disputes attributed to a mirrored PaymentIntent."
          },
          "accounts_with_payment_method": {
            "type": "integer",
            "minimum": 0
          },
          "monthly_growth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicStatsBucket"
            }
          },
          "weekly_growth": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicStatsBucket"
            }
          }
        },
        "required": [
          "total_paid_cents",
          "total_refunded_cents",
          "total_disputed_lost_cents",
          "total_returned_cents",
          "total_net_cents",
          "accounts_with_payment_method",
          "monthly_growth",
          "weekly_growth"
        ]
      },
      "PublicStatsBucket": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "description": "ISO date (YYYY-MM-DD) at start of bucket"
          },
          "paid_cents": {
            "type": "string",
            "description": "GROSS charged in this period, minor units. Unchanged meaning — report this as revenue."
          },
          "refunded_cents": {
            "type": "string",
            "description": "Refunds in status `succeeded` that HAPPENED in this period. A refund that later fails or is canceled stops counting."
          },
          "disputed_lost_cents": {
            "type": "string",
            "description": "Disputes in status `lost` that HAPPENED in this period. Open and won disputes are not counted."
          },
          "returned_cents": {
            "type": "string",
            "description": "refunded_cents + disputed_lost_cents — money given back in this period."
          },
          "net_cents": {
            "type": "string",
            "description": "paid_cents − returned_cents — report this as credited. NEGATIVE when a period's refunds exceed its payments: a return is attributed to the period it happened in, never back-dated to the payment it reverses, so an already-reported bucket is never rewritten."
          }
        },
        "required": [
          "period",
          "paid_cents",
          "refunded_cents",
          "disputed_lost_cents",
          "returned_cents",
          "net_cents"
        ]
      },
      "CreateBillingPortalSessionRequest": {
        "type": "object",
        "properties": {
          "customer": {
            "type": "string"
          },
          "return_url": {
            "type": "string",
            "format": "uri"
          },
          "configuration": {
            "type": "string"
          },
          "flow_data": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "customer"
        ],
        "additionalProperties": {
          "nullable": true
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers": {
      "post": {
        "summary": "Create a Stripe customer",
        "description": "Thin Stripe wrapper. Body forwarded to Stripe verbatim. Response is the Stripe Customer object.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Stripe customers (DB-backed mirror)",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": false,
            "name": "email",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              },
              "description": "Filter by Stripe customer metadata. Use repeated query params: metadata[key]=value. AND'd across keys."
            },
            "required": false,
            "description": "Filter by Stripe customer metadata. Use repeated query params: metadata[key]=value. AND'd across keys.",
            "name": "metadata",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{id}": {
      "get": {
        "summary": "Retrieve a Stripe customer",
        "description": "Returns the cached row if present, falls back to Stripe and upserts otherwise.",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Update a Stripe customer",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          }
        }
      }
    },
    "/internal/customers/by-org/{orgId}": {
      "delete": {
        "summary": "Delete an org's Stripe customer (org teardown)",
        "description": "Server-to-server. Resolves the org's Stripe customer, deletes it online at Stripe (platform key), and tombstones the local mirror. Idempotent: absent customer = 200, nothing deleted. Stripe-side deletion error propagates (fail loud). X-API-Key only — no identity headers (orgId is in the path).",
        "tags": [
          "Customers"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer deleted, or nothing to delete (idempotent)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCustomersByOrgResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get an org's Stripe customer (user-less)",
        "description": "Server-to-server. Returns the org's mirrored Stripe customer (verbatim raw_json), 404 when absent. DB-mirror read, no Stripe call. X-API-Key only — no identity headers (orgId is in the path). Backs billing-service getCustomerByOrg.",
        "tags": [
          "Internal"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          },
          "404": {
            "description": "No customer for org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/payment_intents/by-org/{orgId}": {
      "get": {
        "summary": "List an org's PaymentIntents (user-less)",
        "description": "Server-to-server. Returns every PaymentIntent mirrored for the org as a Stripe list (no limit — caller sums succeeded top-ups across the full set). DB-mirror read, no Stripe call. X-API-Key only — no identity headers (orgId is in the path). Backs billing-service sumSucceededTopupsForCustomer (org<->customer is 1:1) and, via api-service GET /v1/billing/payments, the dashboard payment history. Each entry is the verbatim Stripe PaymentIntent PLUS derived `amount_refunded`, `amount_disputed_lost` and `amount_returned` (minor units): Stripe leaves a refunded payment `succeeded` at full `amount_received`, so these fields are the only way to tell a live top-up from a returned one.",
        "tags": [
          "Internal"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentIntent list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeList"
                }
              }
            }
          }
        }
      }
    },
    "/internal/payment_summary/by-org/{orgId}": {
      "get": {
        "summary": "Org payment summary: paid in, given back, net (user-less)",
        "description": "Server-to-server. Per-currency Stripe money movement for one org: `amount_received` (gross paid in — SUM(amount_received) over succeeded PaymentIntents, the same predicate billing already uses), `amount_refunded` (succeeded Refunds), `amount_disputed_lost` (Disputes we LOST), `amount_returned` (refunded + disputed_lost) and `amount_net` (received − returned). Stripe never mutates a payment when money goes back out — the PaymentIntent stays succeeded at full amount and the return lives on a separate Refund/Dispute object — so summing payments alone over-reports what the org still holds. Computed live from the DB mirrors, so partial refunds, refunds that later fail/cancel, and dispute outcomes are all correct with no reconciliation step. This is Stripe money movement ONLY, NOT a credit balance: promo grants and usage remain billing-service's business. DB-mirror read, no Stripe call. X-API-Key only — no identity headers (orgId is in the path). An org with no mirrored payments returns `totals: []` and `customer: null`.",
        "tags": [
          "Internal"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Org payment summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgPaymentSummary"
                }
              }
            }
          }
        }
      }
    },
    "/internal/payment_methods/by-org/{orgId}": {
      "get": {
        "summary": "List an org customer's PaymentMethods (user-less)",
        "description": "Server-to-server. Live Stripe paymentMethods.list for the org's customer via the platform key (single-account model). Customer resolved from the mirror; 404 when the org has none. X-API-Key only — no identity headers (orgId is in the path). Backs billing-service hasAttachedCardPm.",
        "tags": [
          "Internal"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Optional Stripe payment method type filter (e.g. 'card'). Forwarded verbatim to Stripe."
            },
            "required": false,
            "description": "Optional Stripe payment method type filter (e.g. 'card'). Forwarded verbatim to Stripe.",
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentMethod list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeList"
                }
              }
            }
          },
          "404": {
            "description": "No customer for org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/invoices/by-org/{orgId}": {
      "post": {
        "summary": "Create + pay an off-session invoice for an org's customer",
        "description": "Server-to-server. Creates a one-line Stripe invoice for the org's customer, finalizes it, and pays it OFF-SESSION against the customer's stored card (explicit `payment_method` or the customer default). The result is a finalized, paid Stripe invoice (hosted invoice + PDF, visible in the customer's billing portal). Requires the `Idempotency-Key` header — it is derived per Stripe step (invoice / item / finalize / pay) so a retry never double-charges or creates a duplicate invoice. Uses the platform Stripe key (single-account model). X-API-Key only — no identity headers (orgId is in the path). Returns the paid Stripe Invoice object verbatim (with `payments` expanded). Provenance: the `metadata` you send is stamped on the invoice AND, after payment, on the resulting PaymentIntent together with `org_id` and `invoice_id` — Stripe copies neither, and a consumer summing PaymentIntents (billing) needs it there to tell an automatic platform-initiated charge from a customer-initiated top-up. It is readable on the PaymentIntent reads (`GET /internal/payment_intents/by-org/{orgId}`, `GET /v1/payment_intents`).",
        "tags": [
          "Internal"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "orgId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Required. Stable per-logical-top-up key. Derived per Stripe step to guarantee no double-charge on retry."
            },
            "required": true,
            "description": "Required. Stable per-logical-top-up key. Derived per Stripe step to guarantee no double-charge on retry.",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvoiceByOrgRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Finalized, paid Stripe Invoice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or missing Idempotency-Key header",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No customer for org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/sessions": {
      "post": {
        "summary": "Create a Checkout Session",
        "tags": [
          "Checkout"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCheckoutSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Checkout Sessions (DB-backed mirror)",
        "tags": [
          "Checkout"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "customer",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "payment_intent",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Session list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/checkout/sessions/{id}": {
      "get": {
        "summary": "Retrieve a Checkout Session",
        "tags": [
          "Checkout"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment_intents": {
      "post": {
        "summary": "Create a PaymentIntent",
        "tags": [
          "PaymentIntents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentIntentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PaymentIntent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List PaymentIntents (DB-backed mirror)",
        "description": "Returns DB-cached PaymentIntents. Status is webhook-updated. Callers use this to inspect in-flight reloads per customer before triggering new payments.",
        "tags": [
          "PaymentIntents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "customer",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "starting_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentIntent list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeList"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment_intents/{id}": {
      "get": {
        "summary": "Retrieve a PaymentIntent",
        "tags": [
          "PaymentIntents"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentIntent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/payment_methods": {
      "get": {
        "summary": "List a customer's PaymentMethods (live Stripe)",
        "description": "Live passthrough to Stripe `paymentMethods.list({ customer, type? })`. The customer must belong to the caller's org (looked up via the customers mirror) or the request 404s — prevents cross-org PM enumeration. Used by billing-service to pick an explicit `payment_method` for off_session reload PaymentIntents instead of relying on `customer.invoice_settings.default_payment_method` (which may be a Link / wallet PM that Stripe refuses to charge off_session).",
        "tags": [
          "PaymentMethods"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Required. Customer ID (cus_…) whose payment methods to list. Must belong to the caller's org or the request 404s."
            },
            "required": true,
            "description": "Required. Customer ID (cus_…) whose payment methods to list. Must belong to the caller's org or the request 404s.",
            "name": "customer",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Optional Stripe payment method type filter (e.g. 'card'). Forwarded verbatim to Stripe."
            },
            "required": false,
            "description": "Optional Stripe payment method type filter (e.g. 'card'). Forwarded verbatim to Stripe.",
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "PaymentMethod list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeList"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found in caller's org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/public/stats/billing": {
      "get": {
        "summary": "Public aggregate billing stats (no auth, cross-org)",
        "description": "Aggregate Stripe-side money movement across all orgs. Public endpoint — no X-API-Key, no identity headers. GROSS (`*paid_cents`) and NET (`*net_cents`) are both published and must not be conflated: report gross as revenue and net as credited. Net subtracts settled Refunds and LOST Disputes, the same rule the per-payment and per-org reads apply, so this total equals the sum of the per-org `amount_net`. Buckets carry the same distinction; a return is attributed to the period it happened in.",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Aggregate stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicStatsBillingResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing_portal/sessions": {
      "post": {
        "summary": "Create a Billing Portal Session",
        "tags": [
          "BillingPortal"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Internal org UUID (required)"
            },
            "required": true,
            "description": "Internal org UUID (required)",
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Internal user UUID (required)"
            },
            "required": true,
            "description": "Internal user UUID (required)",
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Brand ID (optional, logged)"
            },
            "required": false,
            "description": "Brand ID (optional, logged)",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Campaign ID (optional, logged)"
            },
            "required": false,
            "description": "Campaign ID (optional, logged)",
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug (optional, logged)"
            },
            "required": false,
            "description": "Workflow slug (optional, logged)",
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Forwarded to Stripe verbatim"
            },
            "required": false,
            "description": "Forwarded to Stripe verbatim",
            "name": "idempotency-key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBillingPortalSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StripeObject"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "post": {
        "summary": "Stripe webhook handler",
        "description": "Verifies signature, persists event, upserts target object. No auth — uses Stripe signature only.",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "nullable": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "received": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "received"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid signature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}